.reviews__container {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (max-width: $mobile-width-only) {
    max-width: $mobile-width;
  }

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 59px;
    padding-left: 27px;
    padding-right: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 98px;
    padding-bottom: 101px;
    padding-left: 83px;
    padding-right: 86px;
    max-width: 974px;
  }
}

.reviews__title {
  @include primary-font(32px, 1);

  font-weight: 600;
  margin: 0;
  padding: 0;
  color: var(--blocks-dark, #ff6347);
  text-align: center;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    @include primary-font(42px, 1);

    font-size: 54px;
    line-height: 54px;
    padding-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    @include primary-font(54px, 1);

    padding-left: 4px;
    padding-bottom: 75px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;

  @media (min-width: $tablet-width) {
    margin-left: 107px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 124px;
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 240px;
  padding: 30px 25px 29px;
  text-align: center;
  background-color: var(--bg-secondary, #ff6347);
  box-shadow: 0 0 40px 0 var(--blocks-shadow, #ff6347);
  color: var(--white, #ff6347);
  min-height: 328px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 40px 30px;
    max-width: 500px;
    align-items: flex-start;
    gap: 40px;
    margin-left: 0;
    box-shadow: 0 0 40px 0 rgba(28, 51, 116, 0.2);
    min-height: 242px;
  }

  @media (min-width: $desktop-width) {
    max-width: 560px;
    padding: 60px;
    gap: 30px;
    min-height: 258px;
  }
}

.reviews__image {
  padding-bottom: 3px;

  @media (min-width: $tablet-width) {
    max-width: none;
  padding-bottom: 0;

  }
}

.reviews__name {
  @include secondary-font(18px, 20px);

  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--white, #ff6347);
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    @include secondary-font(20px, 1);

    text-align: left;
    font-size: 22px;
    line-height: 22px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    @include secondary-font(22px, 1);
  }
}

.reviews__br {
  display: none;
}

.reviews__br--mobile {
  @media (max-width: $mobile-width-only) {
    content: "";
    display: block;
  }
}

.reviews__br--tablet {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews__br--desktop {
    content: "";
    display: block;
  }
}

.reviews__text {
  @include secondary-font(14px, 22px);

  font-weight: 300;
  margin: 0;
  padding: 0;
  color: var(--white, #ff6347);

  @media (min-width: $tablet-width) {
    @include secondary-font(16px, 24px);

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    max-width: 323px;
  }
}

.reviews__navigation {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews__navigation {
    display: block;
    position: absolute;
    height: 100%;
    width: 50px;
    top: 0;
    z-index: 2;
    cursor: pointer;
    background-color: var(--white, #ff6347);
    outline: none;
  }

  .reviews__navigation--before {
    left: 3px;
  }

  .reviews__navigation--forward {
    right: 0;
  }

  .reviews__swiper {
    position: relative;
  }

  .reviews__navigation::after {
    content: "";
    width: 18px;
    height: 32px;
    mask-repeat: no-repeat;
    mask-size: 18px 32px;
    background-color: var(--blocks-dark, #ff6347);
    mask-image: url("/__spritemap#sprite-arrow-view");
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }

  .reviews__navigation:hover::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--blocks-dark, #ff6347);
    border-radius: 50%;
    left: 50%;
    right: 50%;
  }

  .reviews__navigation:focus::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--blocks-dark, #ff6347);
    border-radius: 50%;
    background-color: var(--price-shadow, #ff6347);
    left: 50%;
    right: 50%;
  }

  .reviews__navigation:active::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--blocks-dark, #ff6347);
    border-radius: 50%;
    background-color: var(--blocks-dark, #ff6347);
    left: 50%;
    right: 50%;
  }

  .reviews__navigation:active::after {
    background-color: var(--white, #ff6347);
  }

  .reviews__navigation:disabled {
    pointer-events: none;
  }

  .reviews__navigation:disabled::after {
    background-color: var(--button-disabled-light, #ff6347);
  }


  .reviews__navigation--forward::after {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
